{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="mb-3">Клиент - {{ customuser.email }}</h2>
    <div class="card mb-1">
      <p class="card-header"><strong>Валюта - {{ customuser.currency }}</strong></p>
      <p class="card-header"><strong>Баланс - {{ customuser.balance }}</strong></p>
      <p class="card-header"><strong>на : {% now "j F Y H:i" %}</strong></p>
    </div><br><hr>
    <div class="card-header">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3"><a href="{% url 'custom-user-list' %}" class="btn btn-outline-success my-1 my-sm-0" aria-disabled="true">Список клиентов</a></div>
        </div>
    </div>
{% endblock %}